# Base ModSecurity configuration
SecRuleEngine On
SecRequestBodyAccess On
SecResponseBodyAccess On
SecRequestBodyLimit 13107200
SecRequestBodyNoFilesLimit 131072
SecRequestBodyInMemoryLimit 131072
SecRequestBodyLimitAction ProcessPartial
SecResponseBodyLimit 524288
SecResponseBodyMimeType text/plain text/html text/xml application/json application/x-www-form-urlencoded
SecPcreMatchLimit 100000
SecPcreMatchLimitRecursion 100000
SecTmpDir /tmp/
SecDataDir /tmp/
SecUploadDir /tmp/
SecAuditEngine On
SecAuditLogRelevantStatus ".*"
SecAuditLogParts ABIJDEFHZ
SecAuditLogType Serial
SecAuditLog /tmp/modsec_audit.log
SecAuditLogFormat JSON
SecDebugLog /tmp/modsec_debug.log
SecDebugLogLevel 3
SecArgumentSeparator &
SecCookieFormat 0
SecStatusEngine Off
SecServerSignature "Apache"
SecUnicodeMapFile /etc/modsecurity.d/unicode.mapping 20127
SecCollectionTimeout 600
